body{
    margin: 0px;
    padding: 0px;
    background-color: #9a17b5;

}

header{
    width: 100%;
    height: 100px;
    padding: 0px;
    background-color: rgb(32, 32, 41);
    box-shadow:0px 2px 19px 5px rgb(9, 9, 26);
}
header .logo{
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(253, 250, 250);

}
header nav{
    width: 100%;
}
header nav ul{
   display: block; 
   width: 48%;
   float: left;

}
header nav ul li{
    display: inline;
    text-align: center;
    padding: 1%;
    border: 2px solid rgb(41, 40, 40);
    border-radius:10px;
    box-shadow: 3px 3px 10px 2px rgb(31, 31, 32);
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-size: 20px;
}
header nav div{
    width: 48%;
    float: right;
}
header .burger{ 
    display: none;
    /* border: 1px solid white; */
}
header nav div ul{
    width: 90%;
    /* margin-right: 0px; */
    text-align: right;

}
header nav div ul li{
    display: inline;
    border: 0px;
    padding:0px;
    margin: 0px;
}
header nav div ul li button {
    text-align: center;
    width: 30px;
   height: 30px;

}
header nav div ul li input[type=color]{
    margin: 0px;
    padding: 0px;
    height: 25px;
    
    

}
header nav div ul li input[type=search]{
    width: 300px;
    margin: 0px;
    padding: 0px;
    height: 28px;
}

.container{
    margin: 20px auto;
    width:90%;
    align-items: center;
}
 .show{
     margin-top: 50px;
     align-content: center;
 }

 form, .show{
    text-align: center;
    /* border: solid white; */

}

.show .list{
    text-align: justify;
    width: 70%;
    margin: 10px auto ;
    height: 30px;
    font-size: 20px;
    border: solid rgb(8, 7, 14);
    background-color: rgb(36, 3, 23);
    color: white;
    max-width: 470px;
    padding-left: 10px;
    border-radius:5px;



}

.show .list:hover{
    width: 76%;
    max-width: 500px;
    border: 0px;
    height: 33px;
    
}

form .todo{
    width: 70%;
    max-width: 470px;
    height: 30px;
    text-align: justify;
    border-radius:5px;
}



.todo:hover{
    width: 76%;
    max-width: 500px;
    border: 0px;
    height: 33px;
    border-radius:5px;
}
.todo:focus{
    width: 76%;
    max-width: 500px;
    border: 0px;
    height: 33px;
    border-radius:5px;
}

/*tablet veiw*/
@media screen and (max-width: 1175px){
    header nav ul{
        width: 80%;
    }

   
    header nav .mid-tab{
        float: none;
        width: 300px;
        height: 50px;
        border-radius: 6px;
        background-color: rgb(10, 0, 10);
        position: absolute;
        right: 0px;
        top: 100px;
        display: block;
        
    }
    header nav .mid-tab::after{
        width: 50px;
        height: 50px;
        background-color: rgb(10, 0, 10);
        top:-10px;
        position: absolute;
    }
    header nav .mid-tab ul{
        width: 97%;
        text-align: left;
        float: none;
        display: block;
        margin: 10px;
        /* transform: rotate(180deg); */
    }

    header nav .mid-tab ul li{
        margin: 0px;
        box-shadow: none;
        width: 96%;
        padding: 10px;
        /* transform: rotate(180deg); */
    }

    header nav div ul li input[type=search]{
        display: none;
    }
    header nav .tab{
        display: none;
        
    }
    header nav .menue{ 
        margin-top: 5px;
        display: block;
        text-align: center;
        border-radius: 5px;
        padding: 0px;
        width: 50px;
        height: 40px;
        
    }
    header nav .menue div{ 
        display: block;
        border-radius: 50%;
        padding: 2px;
        margin: 7px 3px;
        float: none;
        width: 3px;
        height: 3px;
        background-color: rgb(253, 250, 250);
        
    }

    form .todo, .show .list{
        width: 80%;

    }

    form .todo:hover, .todo:focus, .show .list:hover{
        width: 86%;
        height: 36px;
    }
  
}


/*mobile veiw*/
@media screen and (max-width: 716px){
    header nav .ul{
        display: none;
    }
    header nav .show-ul{
        width: 96%;
        padding:0px;
        float: none;
    }
    header nav .menue{ 
        display: none;
        
    }
    header nav .show-ul li{
        text-align: justify;
        display: block;
        box-shadow: 0px 0px 0px 0px rgba(253, 250, 250, 0);  
        width: 95%;
        padding: 10px;
        margin: 2px;
    }
    /* header nav{
        overflow: hidden;
    } */

    header nav .show-tab{
        text-align: justify;
        float: none;
        width: 96%;
        display: block;
        
    }
    header nav .show-tab ul{
        width: 97%;
        float: none;
        display: block;
        transform: rotate(180deg);
    }

    header nav .show-tab ul li{
        text-align: left;
        width: 96%;
        display: block;
        padding: 10px;
        transform: rotate(180deg);
    }
    
    header .burger{ 
        display: block;
        text-align: center;
        padding: 0px;
        width: 40px;
        border: 1px solid white;
        border-radius: 4px;
        height: auto;
        position: absolute;
        padding: 5px;
        top:5px;
        right: 4px;

        
    }
    header .burger hr{ 
       width: 30px;
       margin: 5px;
        
    }
    header .logo{
        width: 70%;
        text-align: left;
        padding: 10px;
        /* font-size: 200%; */
    }

    header{
        height: auto;
    }

    form .todo, .show .list{
        width: 90%;
    }

    form .todo:hover, .show .list:hover, .todo:focus{
        width: 96%;
        height: 40px;
    }
}
